html, body, #root, .App {
  height: 100%;
}

/* Main App Section */
.App {
  background-color: black;
  padding-top: 4rem;
}

.toggleDiv{
 position: absolute;
 right: 20rem;
 top: 4rem;
}

/* Dark mode */
.darkTheme {
  padding-top: 4rem;
  background-color: black;
  color: white;
  height: 100%;
}

/* Light mode */
.lightTheme {
  padding-top: 4rem;
  background-color: white;
  color: black;
  height: 100%;
}

/* Table Title */
.tableTitle{
  text-align: center;
  color: white;
}

/* Table Div */
.table-responsive {
 padding: 3rem 6rem 0 6rem;
 background-color: black;
}

/* Table Element */
.table{
  text-align: center;
  background-color: white;
}

/* Edit Icon */
.edit{
  color:rgb(2, 115, 207)
}

/* Delete Icon */
.delete {
  color: red;
}

/* Add Row Icon */
.addRow{
  color: green;
}

/* All Icons */
#icon{
  cursor: pointer;
}

/* Modal Section */
.modal {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.178);
  color: black;
}

/* CloseButton*/
#closeButton {
  font-size: 1.4rem;
}

/* Modal Show */
.modal-show {
  display: block;
}

/* Modal Hide */
.modal-hide {
  display: none;
}