/* Main App Section */
.App {
  height: 100%;
  width: 100%;
  background-color: black;
}

/* Table Div */
.table-responsive {
  margin: 5rem 15rem;
  background-color: white;
}

/* Table Element */
.table{
  text-align: center;
}

/* Edit Icon */
.edit{
  color:blue
}

/* Delete Icon */
.delete {
  color: red;
}

/* Add Row Icon */
.addRow{
  color: green;
}

/* All Icons */
#icon{
  cursor: pointer;
}

/* Modal Section */
.modal {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
}